body {
  // border: 1px solid orangered;
  margin: 0 auto;
  padding: 0;
  max-width: $desktop-width;

  font-size: 18px;
  line-height: 27px;
  font-family: 'Tahoma', 'Arial', sans-serif;
  color: $bg-black;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
